.ToolBar {
    position: fixed;
    width: 100%;
    box-shadow: 5px 0 20px -5px rgba(0,0,0,.2);
    margin: 0 !important;
    background-color: white;
    z-index: 999;
}


.DesktopOnly {
    display: none;
}

@media (min-width: 768px) {
    .DesktopOnly {
        display: block;
    }
}